* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header img {
    height: 70px;
    width: 48px;
    margin-top: 5px;
    margin-left: 20px;
}

h1 {
    float: right;
    padding-top: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-align: right;
    padding-right: 25px;
    padding-bottom: 20px;
}

header hr {
    height: 20px;
    background-color: #07553B;
    color: #07553B;
    width: 377px;
    border-style: none;
}

main {
    background-color: #CED46A;
}

main img {
    margin-left: 65px;
    height: 140px;
    width: 250px;
}

main h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color: #07553B;
}

section h2 {
    padding: 10px;
    font-size: large;
}

main div hr {
    color: #CED46A;
    background-color: #CED46A;
    height: 10px;
}

main p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #07553B;
    color: #CED46A;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
}

main hr {
    background-color: #07553B;
    color: #07553B;
    border-style: none;
    height: 20px;
}

main a {
    background-color: #CED46A;
    color: #07553B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
    padding: 5px;
    margin-left: 244px;
    margin-bottom: 15px;
}

main ul {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
    background-color: #07553B;
    color: #CED46A;
    font-weight: bold;
    margin-bottom: 10px;
}

footer img {
    height: 70px;
    width: 48px;
    margin-top: -30px;
}

hr footer {
    height: 20px;
    background-color: #07553B;
    color: #07553B;
    width: 377px;
    border-style: none;
}

footer a {
    color: #000;
    padding: 20px;
}

li div {
    margin-bottom: 10px;
}

footer ul {
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

footer li {
    padding-top: 50px;
    padding-bottom: 20px;
}

a.hover {
    color: aqua;
}
