<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header img {
    height: 70px;
    width: 48px;
    margin-top: 5px;
    margin-left: 20px;
}

h1 {
    float: right;
    padding-top: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-align: right;
    padding-right: 25px;
    padding-bottom: 20px;
}

header hr {
    height: 20px;
    background-color: #07553B;
    color: #07553B;
    width: 377px;
    border-style: none;
}

main {
    background-color: #CED46A;
}

main img {
    margin-left: 65px;
    height: 140px;
    width: 250px;
}

main h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color: #07553B;
}

section h2 {
    padding: 10px;
    font-size: large;
}

main p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #07553B;
    color: #CED46A;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
}

main hr {
    background-color: #CED46A;
    color: #CED46A;
    border-style: none;
    height: 20px;
}

main a {
    background-color: #07553B;
    color: #CED46A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
    padding: 5px;
    margin-left: 244px;
    margin-bottom: 15px;
}

main ul {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
}

footer {
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
}

footer img {
    height: 70px;
    width: 48px;
   margin-top: -30px;
}

hr footer {
    height: 20px;
    background-color: #07553B;
    color: #07553B;
    width: 377px;
    border-style: none;
}

footer a {
    color: #000;
    padding: 20px;
}

footer ul {
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

footer li {
    padding-top: 50px;
    padding-bottom: 20px;
}

a.hover {
    color: aqua;
}


=======
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #07553B;
    color: #CED46A;
}

h2 {
    padding-top: 20px;
    color: #CED46A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: medium;
    margin-bottom: 30px;
    margin: 10px;
    padding: 10px;
    color: #07553B;
    border-style: solid;
    border-color: #000;
    background-color: #CED46A;
}

ul {
    display: flex;
    font-size: large;
    background-color: #CED46A;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main div {
    text-align: right;
    margin-right: 10px;
    margin-top: 20px;
}

header a {
    color: #07553B;
    border: 20px;
    border-radius: 20px;
    border: #5F464B;
}

main a {
    font-size: large;
    border-style: solid;
    border-color: #000;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #07553B;
    background-color: #CED46A;
}

a:hover {
    color: #FFFFFF;
}

main {
    background-color: #07553B;
}
>>>>>>> 5998b0a01b1ffaf946db17fdbaeb748316acdf28
